<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>标签分类管理</title>
</head>
<body>
    <h1>标签分类管理</h1>
    <table border="1">
        <thead><tr>
            <th>序号</th>
            <th>分类名称</th>
            <th>数量</th>
            <th>删除</th>
        </tr></thead>
        <tbody>
        {% for classify in classifies %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ classify.name }}</td>
            <td>{{ classify.websites | length }}</td>
            <td><a href="/delete-classify?uid={{ classify.id }}">删除</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <form action="/classify" method="POST">
        <label for="classify-name">分类标签名：</label><input id="classify-name" type="text" name="name">
        <input type="submit">
    </form>
    <p><a href="/admin">返回管理页面</a></p>
</body>
</html>