<!doctype html>
<!--喜欢的朋友可以加QQ群：获取新版导航喔  -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <base target="_blank" />
  <link rel="shortcut icon" href="static/images/favicon.ico"/>
  <link rel="stylesheet" type="text/css" href="static/css/index.css">
  <title>上网导航_首页</title>
 </head>
 <body>
 <header>上网导航_首页
  </header>

<!--Begin 搜索框 -->
 <div class="search-form">
<img class="baidu_img" src="static/images/baidu.png">
<form method="get" action="http://www.baidu.com/s">
    <input type="text" autocomplete="on" name="word" id="query" autofocus class="baidu"/>
    <input type="submit" value="百度一下" class="search"/>
</form>
 </div>
 <main>
{% for classify in classifies %}
    <div>
        <li class="head head-{{ classify.id }}">▶{{ classify.name }}</li>
{#            通过权重进行排序#}
            {% for website in classify.websites | sort(reverse=True, attribute='weight') %}
                {% if website.weight != 0 %}
           <li><a href="{{ website.url }}" title="{{ website.description }}"><img src="{{ website.ico }}" >&nbsp;{{ website.title }}</a></li>
                {% endif %}
            {% endfor %}
    </div>
{% endfor %}
 </main>

 <footer>
 <p>&copy;2016年8月19日 Powered by Pengshiyu</p>
 <p>加入QQ群：511956891 获取最新版本| <a href="/admin">后台管理</a> </p>
 </footer>
 </body>
</html>
